* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Euphoria Script';
    src: url('/src/assets/fonts/euphoria-script/EuphoriaScript-Regular.woff') ;
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Teen';
    src: url('/src/assets/fonts/teen/teen.otf') ;
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Dobkin Script';
    src: url('/src/assets/fonts/dobkin-script/DobkinScript.ttf') ;
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Floor Light';
    src: url('/src/assets/fonts/floorlight/Floorlight.ttf') ;
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Cooper Hewitt';
    src: url('/src/assets/fonts/cooper-hewitt/CooperHewitt-Light.otf') ;
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Prida01';
    src: url('/src/assets/fonts/prida01/Prida01.otf') ;
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Chopin Script';
    src: url('/src/assets/fonts/chopin-script/ChopinScript.ttf') ;
    font-weight: 100;
    font-style: normal;
}


html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}


:root {
    font-size: 10px;
    cursor: none;
    --dark: black;
    --light: white;
    --light-gray: rgb(239, 239, 239);
    --slate-gray: #666666;
    --steel-gray: #4f5053;
    --charcoal: rgb(79, 80, 83);
    --mist-gray: rgb(209, 207, 207);
    --cloud-gray: #8d939d82;
    --soft-white: #ffffff82;
}

body {
    font-size: 10px;
    font-size: 1rem;
    font-family: 'Teen', sans-serif;
    font-style: normal;
    background-color: var(--light-gray);
    font-weight: 100;
    overflow-x: hidden;
    position: fixed;
}

body.about {
    background-color: var(--light);
}

body::-webkit-scrollbar {
    width: 6px;
    width: .6rem;
}

body::-webkit-scrollbar-track {
    background-color: var(--light);
}

body::-webkit-scrollbar-thumb {
    background: var(--slate-gray);
    border-radius: 10px;
}

.fancy {
    font-family: 'Euphoria Script', sans-serif;
    font-weight: 100;
}

header {
    width: 100%;
    height: auto;
    position: fixed;
    z-index: 888;
    color: var(--light);
    mix-blend-mode: difference;
}

nav {
    width: 100%;
    padding: 3.5vmax;
    padding-top: 3vmax;
    padding-bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
}

nav .menu_icon {
    width: 60px;
    height: 35px;
    position: relative;
    margin-top: 20px;
    margin-top: 2rem;
}

.menu_icon .wrap {
    height: 100%;
    border-radius: 20px;
    background-color: var(--light);
    position: absolute;
    left: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.menu_icon .wrap div {
    width: 35%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
    gap: 6px;
    gap: .6rem;
}

.wrap .line {
    width: 60%;
    height: 2px;
    background-color: var(--dark);
}

.wrap .line:nth-child(2) {
    width: 100%;
}

.menu_icon:hover .line {
    width: 100%;
    background-color: var(--dark);
}

.menu_icon:hover .line:nth-child(2) {
    width: 60%;
}

nav .logo {
    font-size: 20px;
    font-size: 2rem;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    padding: 10px;
    padding: 1rem;
    padding-right: 40px;
    padding-right: 4rem;
}

.logo h1 {
    font-weight: 100;
}

.logo .fancy {
    font-size: 25px;
    font-size: 2.5rem;
}

.logo div {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
}

.logo div span {
    position: absolute;
    top: 60%;
    left: 0;
    height: 2px;
    background: var(--light);
    mix-blend-mode: difference;
}

.logo div:nth-child(2) span {
    height: 1px;
    top: 50%;
}

.hero_section {
    width: 100%;
    height: 100vh;
    background-color: var(--light);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    z-index: 8;
}

.hero_content {
    height: auto;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
}

.hero_content .hero_title, .contact_header .title {
    font-size: clamp(8vw, 9vw, 10vw);
    font-weight: 100;
}

.hero_title .fancy {
    font-size: clamp(11vw, 12vw, 13vw);
    /* word-spacing: 1.5vw; */
}

.buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 50px;
    margin-top: 5rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 8px;
    gap: .8rem;
    position: relative;
}

button {
    border: none;
    background-color: var(--dark);
    color: var(--light);
    font-size: 13px;
    font-size: 1.3rem;
    width: 130px;
    width: 13rem;
    padding: 13px 25px;
    padding: 1.3rem 2.5rem;
    border-radius: 2rem;
    position: relative;
    overflow: hidden;
    cursor: none;
}

button:nth-child(1):hover {
    border: 1px solid var(--dark);
}

.btn_second {
    background: var(--light);
    border: 1px solid var(--dark);
    color: var(--dark);
}

button .btn_circle {
    position: absolute;
    width: 100%;
    height: 200%;
    border-radius: 50%;
    background: var(--light);
    mix-blend-mode: difference;
    top: -200%;
    left: 0;
    pointer-events: none;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

button:hover .btn_circle {
    top: -50%;
}

.plane {
    background-color: var(--light-gray);
    position: relative;
    z-index: 9;
}

.section_two {
    width: 100%;
    height: auto;
    min-height: 100vh;
    background-color: var(--dark);
    color: var(--light);
    position: relative;
    
}

.section_two .sect_two_content {
    width: 100%;
    height: auto;
    text-align: center;
    position: relative;
    z-index: 8;
    background-color: var(--dark);
}

.sect_two_content {
    font-size: clamp(35.8px, 23.08px + 6.36vw, 80.3px);
    font-size: clamp(3.58rem, 2.308rem + 6.36vw, 8.03rem);
}

.sect_two_content .marque {
    width: 90vw;
    height: 80px;
    border: 1px solid var(--steel-gray);
    margin: auto;
    border-radius: 5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 30px;
    gap: 3rem;
    overflow: hidden;
    padding-left: 3vw;
    color: var(--steel-gray);
    margin-top: 6vw;
    pointer-events: none;
}

.marque span:hover {
    color: var(--light);
}

.sect_two_content .arrow {
    display: block;
}

.marque .bold, .sect_two_content .arrow {
    font-family: 'Floor Light', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

.marque .unexpected {
    font-family: 'Cooper Hewitt', sans-serif;
}

.marque .ethical {
    font-family: 'Prida01', sans-serif;
    text-transform: uppercase;
}

.marque .unique {
    font-family: 'Chopin Script', sans-serif;
}

.sect_two_content .wbs {
    font-family: 'Dobkin Script', sans-serif;
}

.sect_two_content .spc, .sect_two_content .wbs {
    font-family: 'Dobkin Script', sans-serif;
    font-size: clamp(11vw, 12vw, 13vw);
}

.sect_two_content .and {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 15px;
    gap: 1.5rem;
    font-family: 'Dobkin Script', sans-serif;
    margin-top: 10px;
    margin-top: 1rem;
    margin-bottom: 10px;
    margin-bottom: 1rem;
}

.and .line {
    display: block;
    width: clamp(60px, 40px + 8vw, 130px);
    width: clamp(6rem, 4rem + 8vw, 13rem);
    height: .6px;
    background-color: rgb(140, 140, 140);
}

.sect_two_content .brd {
    margin-top: 6vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.sect_two_content .inc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 1vw;
    margin-bottom: 1vw;
}

.inc .line {
    margin-left: 20px;
    margin-left: 2rem;
}

.inc span:nth-child(1) {
    font-family: 'Dobkin Script', sans-serif;
}

.inc span:nth-child(3) {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
}

.sect_two_content .inc .line {
    display: inline-block;
    height: .6px;
    background-color: rgb(140, 140, 140);
    width: clamp(70px, 50px + 10vw, 140px);
    width: clamp(7rem, 5rem + 10vw, 14rem);
    max-width: 25%;
}

.section_two .concave {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 7;
}

.section_two .vision {
    margin: auto;
    margin-top: 100px;
    margin-top: 10rem;
    font-size: clamp(4vw, 5vw, 7vw);
    text-align: end;
    width: 90%;
    position: relative;
}

.vision h1 {
    font-weight: 100;
    position: relative;
}

.vision_paragraf {
    margin: auto;
    margin-top: 50px;
    margin-top: 5rem;
    height: auto;
}

.section_two .convex {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
}

.section_two .convex path {
    fill: var(--dark);
}

.vision_paragraf p {
    text-align: start;
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 1.7em;
    letter-spacing: .1em;
    font-weight: 100;
}

.work_section {
    width: 100%;
    height: auto;
    min-height: 100vh;
    background-color: var(--light-gray);
    position: relative;
    
}

.work_section .selected_work_heading {
    font-size: clamp(35.8px, 23.08px + 4.36vw, 60.3px);
    font-size: clamp(3.58rem, 2.308rem + 4.36vw, 6.03rem);
    font-weight: 100;
    text-align: center;
}

.work_section .home_work_section {
    width: 100%;
    height: auto;
    margin-top: 30px;
    margin-top: 3rem;
}

.home_work_column {
    width: 100%;
    height: auto;
    border-bottom: 1px solid var(--steel-gray);
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
}

.home_work {
    width: 90%;
    margin: auto;
    height: 100px;
    height: 10rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: all ease-in .5s;
    transition: all ease-in .5s;
}

.home_work_column:before {
    content: '';
    position: absolute;
    top: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--light);
    -webkit-transition: all .3s ease-in;
    transition: all .3s ease-in;
    -webkit-transition-delay: 0.3s;
            transition-delay: 0.3s;
}

.home_work_column:hover .home_work {
    width: 83%;
}

.home_work_column:hover:before {
    top: 0;
}

.home_work .work_left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: calc(2rem + 4vw);
}

.work_number {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    position: relative;
    overflow: hidden;
}

.work_number p, .card_number h1 {
    font-size: clamp(35.8px, 23.08px + 4.36vw, 60.3px);
    font-size: clamp(3.58rem, 2.308rem + 4.36vw, 6.03rem);
    font-family: 'Prida01', sans-serif;
    font-weight: 100;
    position: relative;
}

.work_number p:nth-child(2) {
    position: absolute;
    top: 100%;
}

.home_work .work_name p {
    font-size: clamp(10px, 10px + 3vw, 40px);
    font-size: clamp(1rem, 1rem + 3vw, 4rem);
    position: relative;
}

.work_right span {
    font-size: clamp(35.8px, 23.08px + 4.36vw, 60.3px);
    font-size: clamp(3.58rem, 2.308rem + 4.36vw, 6.03rem);
    position: relative;
}

.home_work_visual {
    position: absolute;
    width: calc(44rem + 3vw);
    height: calc(19rem + 2vw);
    border-radius: 15rem;
    overflow: hidden;
    display: none;
    
    top: 100%;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    pointer-events: none;
}

.home_work_visual img {
    width: 150%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
    position: absolute;
    left: -25%;
}

.service_section {
    position: relative;
    
    /* padding-top: 90px;
    padding-top: 9rem; */
    padding-left: 5%;
    padding-right: 5%;
}

.heading {
    font-size: clamp(35.8px, 23.08px + 4.36vw, 60.3px);
    font-size: clamp(3.58rem, 2.308rem + 4.36vw, 6.03rem);
    font-weight: 100;
}

.sub_heading {
    margin-top: 15px;
    margin-top: 1.5rem;
    margin-bottom: 40px;
    margin-bottom: 4rem;
    color: var(--steel-gray);
    font-size: clamp(15.8px, 13.08px + 1.36vw, 20.299px);
    font-size: clamp(1.58rem, 1.308rem + 1.36vw, 2.03rem);
    font-weight: 100;
    word-spacing: 4px;
    word-spacing: .4rem;
    letter-spacing: 2px;
    letter-spacing: .2rem;
    text-transform: uppercase;
}

.client_section {
    position: relative;
    margin-top: 80px;
    margin-top: 8rem;
    padding-bottom: 40px;
    padding-bottom: 4rem;
}

 .client_section .sub_heading {
    word-spacing: 3px;
    word-spacing: .3rem;
    letter-spacing: 1px;
    letter-spacing: .1rem;
    color: var(--dark);
    text-transform: uppercase;
    font-weight: lighter;
    text-align: center;
}

.client_section .concave {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--light-gray);
}

.client_section .concave path {
    fill: var(--light);
}

.service_card_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
    gap: 2rem;
}

.service_section .service_card {
    width: 100%;
    height: auto;
    min-height: 250px;
    min-height: 25rem;
    padding: 25px;
    padding: 2.5rem;
    background-color: var(--light);
    position: relative;
    padding-bottom: 40px;
    padding-bottom: 4rem;
}

.service_section .service_card:hover {
    box-shadow: -5px 5px 20px rgba(0, 0, 0, .2);
}

.service_card .card_number {
    text-align: end;
    margin-top: 10px;
    margin-top: 1rem;
}

.service_card:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 2px;
    background-color: var(--dark);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transition: all ease .3s;
    transition: all ease .3s;
}

.service_card:hover:before {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.card_content {
    padding: 5px;
    padding: .5rem;
    margin-top: 15px;
    margin-top: 1.5rem;
}

.card_content h1 {
    font-size: clamp(15.9px, 13.08px + 3.36vw, 24px);
    font-size: clamp(1.59rem, 1.308rem + 3.36vw, 2.4rem);
    font-weight: 100;
    margin-bottom: 10px;
    margin-bottom: 1rem;
    position: relative;
}

.card_content h1:before {
    content: '';
    position: absolute;
    width: 30px;
    width: 3rem;
    height: 2px;
    background: var(--dark);
    bottom: -10px;
    bottom: -1rem;
}

.card_content p, .about_content p, .contact_header p {
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 1.6em;
    letter-spacing: .11em;
    font-weight: 100;
    color: var(--steel-gray);
    margin-top: 25px;
    margin-top: 2.5rem;
}

.clients_container {
    width: 90%;
    margin: auto;
    margin-top: 60px;
    margin-top: 6rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    gap: 2rem;
    row-gap: 35px;
    row-gap: 3.5rem;
    -ms-grid-column-align: center;
        justify-items: center;
    -ms-grid-row-align: center;
        align-items: center;
}

.clients_container .client_card {
    max-width: 100px;
    max-width: 10rem;
    max-height: 60px;
    max-height: 6rem;
    filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="1" /><feFuncG type="linear" slope="1" /><feFuncB type="linear" slope="1" /></feComponentTransfer></filter></svg>#filter');
    -webkit-filter: brightness(0);
            filter: brightness(0);
}

.about_section {
    width: 100%;
    height: auto;
    min-height: 100vh;
    background-color: var(--light);
    position: relative;
    z-index: 10;
    padding-bottom: calc(20rem + 5vw);
}

.about_container {
    width: 90%;
    padding-top: 40px;
    padding-top: 4rem;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 50px;
    gap: 5rem;
}

.about_avatar {
    width: calc(16rem + 2vw);
    height: calc(16rem + 2vw);
    border-radius: 50%;
    overflow: hidden;
    -webkit-transition: all ease .3s;
    transition: all ease .3s;
}

.about_avatar img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
}

.about_content .sub_heading {
    margin-bottom: 20px;
    margin-bottom: 2rem;
}

.about_content .btn_second {
    margin-top: 25px;
    margin-top: 2.5rem;
    padding: 11px 30px;
    padding: 1.1rem 3rem;
}

.cta_container {
    text-align: center;
    margin: auto;
    margin-top: 130px;
    margin-top: 13rem;
    width: 90%;
}

.cta_fancy {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 20px;
    gap: 2rem;
}

.cta_fancy .line {
    display: block;
    width: 1px;
    height: 50px;
    height: 5rem;
    background-color: var(--light-gray);
}

.about_section .concave {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--light);
}

.about_section .concave path {
    fill: var(--dark);
}

footer {
    height: auto;
    min-height: 100vh;
    width: 100%;
    background-color: var(--dark);
    color: var(--light);
    position: relative;
    z-index: 9;
    padding-bottom: calc(5rem + 2vw);
}

.link a {
    cursor: none;
}

footer .logo {
    color: var(--light);
    font-size: clamp(25.8px, 23.08px + 2.36vw, 30.299px);
    font-size: clamp(2.58rem, 2.308rem + 2.36vw, 3.03rem);
    line-height: 2em;
    margin-left: 15vw;
}

.logo .fancy_wrapper, .pre_load .fancy_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.fancy_wrapper h1 {
    font-weight: 100;
    font-family: 'Euphoria Script', sans-serif;
    margin-left: calc(4rem + 2vw);
}

.fancy_wrapper .line {
    height: 1px;
    width: calc(3rem + 2vw);
    display: block;
    background-color: var(--light);
}

footer .footer_content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.footer_content .primary_link {
    margin-left: calc(1rem + 2vw);
    margin-bottom: 30px;
    margin-bottom: 3rem;
}

.footer_content ul {
    list-style: none;
}

.footer_content a {
    text-decoration: none;
    color: var(--light);
}

.primary_link {
    margin-top: calc(3rem + 1vw);
}

.primary_link ul li {
    font-size: clamp(15.8px, 13.08px + 2.36vw, 20px + .8vw);
    font-size: clamp(1.58rem, 1.308rem + 2.36vw, 2rem + .8vw);
    font-family: 'Prida01', sans-serif;
    margin-bottom: calc(2rem + 2vw);
}

footer .studies_projects {
    margin-left: calc(1rem + 2vw);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10vw;
}

footer .title {
    font-size: clamp(15.8px, 13.08px + 2.36vw, 20px + .8vw);
    font-size: clamp(1.58rem, 1.308rem + 2.36vw, 2rem + .8vw);
    font-weight: 100;
}

.studies_projects h2 {
    letter-spacing: .1vw;
    position: relative;
    margin-bottom: calc(2.5rem + 2.5vw);
}

.studies_projects h2 br {
    margin-top: calc(3.5rem + 2.5vw);
}

.studies_projects h2:after {
    content: '';
    width: calc(2rem + 2vw);
    height: 3px;
    background-color: var(--light);
    position: absolute;
    left: 0;
    bottom: -15px;
    bottom: -1.5rem;
}

.studies_projects li {
    text-align: center;
    font-size: 14px;
    font-size: 1.4rem;
    letter-spacing: .11em;
    border-radius: 4rem;
    background-color: #3b3f4682;
    margin-bottom: 13px;
    margin-bottom: 1.3rem;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    padding: 10px 15px;
    padding: 1rem 1.5rem;
    -webkit-transition: all ease .3s;
    transition: all ease .3s;
}

.studies_projects li a {
    font-weight: 100;
}

.studies_projects li:hover {
    background-color: var(--light);
}

.studies_projects li:hover a {
    color: var(--dark);
}

.footer_contact {
    margin-left: calc(1rem + 2vw);
    margin-top: 30px;
    margin-top: 3rem;
}

footer .btn_prima {
    margin-top: 20px;
    margin-top: 2rem;
    border: 1px solid var(--light);
}

.social {
    margin-top: 30px;
    margin-top: 3rem;
}

.social .sosmed_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px;
    gap: 2rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 20px;
    margin-top: 2rem;
}

.sosmed_wrapper div {
    width: 25px;
    width: 2.5rem;
    height: 25px;
    height: 2.5rem;
}

.sosmed_wrapper svg:hover path {
    fill: var(--light);
}

.sosmed_wrapper path {
    fill: var(--cloud-gray);
}

.studies_projects .social, .studies_projects .contact {
    display: none;
}

.footer_copyright_text {
    margin-top: 40px;
    margin-top: 4rem;
    margin-left: calc(2rem + 5vw);
    font-size: 14px;
    font-size: 1.4rem;
    color: var(--light-gray);
    font-weight: 100;
    opacity: .7;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    letter-spacing: 1px;
    letter-spacing: .1rem;
}

.footer_copyright_text span {
    font-size: 17px;
    font-size: 1.7rem;
}

/* menu */
.offset_menu {
    position: fixed;
    top: 0;
    bottom: 100%;
    right: 0;
    left: 0;
    z-index: 887;
    background-color: var(--light-gray);
    /* overflow: hidden; */
}

/* .offset_menu .x {
    height: max-content;
}
*/

.offset_menu .convex {
    position: absolute;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}


.offset_menu .convex path {
    fill: var(--light-gray);
}

.offset_menu .parent {
    margin: auto;
    width: 90vw;
    height: 100%;
    overflow: hidden;
}

.offset_menu .prim_menu {
    list-style: none;
    text-align: end;
    font-size: calc(5rem + 3vw);
}

.offset_menu .prim_menu li {
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
    -webkit-transform: scaleY(.8);
            transform: scaleY(.8);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    position: relative;
    margin-bottom: 8vw;
    overflow: hidden;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin-left: auto;
}

.offset_menu .prim_menu li:nth-child(1) {
    margin-top: 100px;
    margin-top: 10rem;
}

.offset_menu .prim_menu .clone {
    display: block;
    position: absolute;
    top: 100%;
    right: 0;
    font-family: 'Euphoria Script', sans-serif;
    font-size: calc(7rem + 3vw);
}


.offset_menu a {
    color: var(--dark);
    text-decoration: none;
    cursor: none;
}

.offset_menu .sub_menu {
    display: none;
}

.sub_menu .curve {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
}

.sub_menu svg {
    position: absolute;
    height: 100%;
    left: -20%;
}

.sub_menu svg path {
    fill: var(--light);
}

.sub_menu .studies_projects {
    margin-left: 5vw;
    margin-top: 60px;
    margin-top: 6rem;
    position: relative;
    z-index: 9;
}

.sub_menu ul {
    list-style: none;
}

.sub_menu .first_link {
    display: inline-block;
    margin-top: 40px;
    margin-top: 4rem;
}

.sub_menu .link {
    margin: 0;
    margin-top: 8px;
    margin-top: .8rem;
}

.sub_menu .other_links {
    margin-top: 50px;
    margin-top: 5rem;
    text-transform: uppercase;
}

.sub_menu .title {
    margin-bottom: 20px;
    margin-bottom: 2rem;
    font-size: 20px;
    font-size: 2rem;
}

.sub_menu .title:after {
    background-color: var(--cloud-gray);
}
/* menu */
.menu_icon.active .line:nth-child(1) {
    width: 100%;
}

.menu_icon.active .line:nth-child(2) {
    width: 60%;
}

.custom_cursor {
    width: 10px;
    width: 1rem;
    height: 10px;
    height: 1rem;
    border-radius: 50%;
    background: var(--light);
    mix-blend-mode: difference;
    position: fixed;
    -webkit-transition: none;
    transition: none;
    pointer-events: none;
    z-index: 9999;
}

.custom_cursor_wrap {
    position: fixed;
    height: 60px;
    height: 6rem;
    width: 60px;
    width: 6rem;
    border-radius: 50%;
    border: 1px solid var(--mist-gray);
    pointer-events: none;
    z-index: 9998;
}

.view_cursor {
    font-weight: 100;
    font-size: 13px;
    font-size: 1.3rem;
    position: fixed;
    z-index: 9999;
    pointer-events: none;
    display: none;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

.pre_load {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99999;
    background-color: var(--light-gray);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    pointer-events: none;
}

.hText {
    display: inline-block;
}

.pre_load .logo {
    color: var(--dark);
    font-size: clamp(25.8px, 23.08px + 2.36vw, 40.3px + 3vw);
    font-size: clamp(2.58rem, 2.308rem + 2.36vw, 4.03rem + 3vw);
    margin: auto;
    -webkit-transform-origin: top left;
            transform-origin: top left;
}

.pre_load .logo .rotate {
    pointer-events: none;
}

.pre_load .convex {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
}

.pre_load .convex path {
    fill: var(--light-gray);
}

.selected_work_heading {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin: auto;
}

.service_section .heading {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
}

.textBRIn {
    display: block;
    -webkit-transform-origin: bottom right;
            transform-origin: bottom right;
}


/* about page */

body.about main {
    width: 100vw;
    height: auto;
    min-height: 100vh;
    background-color: var(--light);
    padding-bottom: 200px;
    padding-bottom: 20rem;
    position: relative;
}

body.about main .concave, body.work main .concave, body.contact main .concave {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--light);
}

body.about .about_section {
    width: 90%;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

body.about .about_section .card_about_container {
    border-left: 2px solid var(--light-gray);
    margin-top: calc(7rem + 1vw);
}

body.about .about_section h1 {
    font-size: 15vmax;
    font-weight: 100;
    margin-top: 120px;
    margin-top: 12rem;
}

body.about .about_section h1, body.about .sub_heading {
    text-align: center;
}

body.about .card_content {
    border-left: 2px solid var(--dark);
    padding-left: calc(3rem + .5vw);
    margin-bottom: 40px;
    margin-bottom: 4rem;
    max-width: 450px;
    max-width: 45rem;
}

body.about .card_content .sub_heading {
    text-transform: none;
    text-align: start;
    margin-bottom: 10px;
    margin-bottom: 1rem;
    color: var(--dark);
}

body.about .card_content p {
    margin-top: 15px;
    margin-top: 1.5rem;
}

body.about .image_content {
    width: 100%;
    height: 500px;
    height: 50rem;
    position: relative;
}

body.about .image_content .profile_image {
    width: 100%;
    height: 100%;
    position: absolute;
    /* background-size: cover;
    background-position: center; */
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
}

body.about .image_content .profile_image:nth-child(2) {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.where_lived {
    font-size: clamp(35.8px, 23.08px + 3.36vw, 60.3px);
    font-size: clamp(3.58rem, 2.308rem + 3.36vw, 6.03rem);
    font-weight: 100;
    text-align: center;
}

.about main .cta_container {
    margin-top: 150px;
    margin-top: 15rem;
}

.about_lived_layout {
    width: 80%;
    margin: auto;
    background: n;
    margin-top: calc(10rem + 5vw);
}

.about_lived_list {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 50px;
    gap: 5rem;
    margin-top: 50px;
    margin-top: 5rem;
}

.about_lived_card {
    text-align: center;
}

.about_lived_card .sub_heading {
    margin: 0;
    margin-top: 10px;
    margin-top: 1rem;
    font-size: clamp(10px, 10px + 1vw, 20px);
    font-size: clamp(1rem, 1rem + 1vw, 2rem);
}

.about_lived_card h1 {
    font-size: clamp(35.8px, 33.08px + 7.36vw, 80.3px);
    font-size: clamp(3.58rem, 3.308rem + 7.36vw, 8.03rem);
    text-transform: uppercase;
    font-weight: 100;
}

.lived_arrow {
    font-weight: 100;
    color: var(--cloud-gray);
    font-size: clamp(25.8px, 23.08px + 7.36vw, 50.3px);
    font-size: clamp(2.58rem, 2.308rem + 7.36vw, 5.03rem);
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

/* end about page */

/* work page */

body.work main {
    width: 100vw;
    height: auto;
    min-height: 100vh;
    background-color: var(--light);
    position: relative;
}

body.work .work_page_section {
    width: 80%;
    margin: auto;
    padding-top: 150px;
    padding-top: 15rem;
}

body.work .work_container {
    width: 100%;
}

body.work .work_about {
    text-align: center;
    position: relative;
}

.card_desk {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    display: none;
}

.card_desk.active {
    z-index: 889;
}

.card_desk .work_name, .work_sub, .work_text {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    position: relative;
    overflow: hidden;
}

.work_sub, .sub_about {
    margin-top: 7px;
    margin-top: .7rem;
    margin-bottom: 23px;
    margin-bottom: 2.3rem;
}

.card_desk .work_name h2, .work_sub h3, .work_text p {
    position: absolute;
    width: 100%;
}

.card_desk .work_name h2:nth-child(1), .work_sub h3:nth-child(1), .work_text p:nth-child(1) {
    position: relative;
}

.work .work_card h2 {
    font-size: clamp(30px, 29px + 1.36vw, 40px);
    font-size: clamp(3rem, 2.9rem + 1.36vw, 4rem);
    font-weight: 100;
    letter-spacing: 1px;
    letter-spacing: .1rem;
}

.work .work_card h3 {
    font-size: clamp(15.8px, 13.08px + 1.36vw, 18px);
    font-size: clamp(1.58rem, 1.308rem + 1.36vw, 1.8rem);
    font-weight: 100;
    word-spacing: 3px;
    word-spacing: .3rem;
    letter-spacing: 1px;
    letter-spacing: .1rem;
    text-transform: uppercase;
}

.work .work_about p {
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 1.6em;
    letter-spacing: .11em;
    font-weight: 100;
    color: var(--charcoal);
}

.work .work_card {
    padding-bottom: 140px;
    padding-bottom: 14rem;
}

.work .work_card .work_image {
    width: 100%;
    height: calc(30vmax + 3vw);
    margin-bottom: calc(3rem + 1vw);
    position: relative;
}

.work .work_card .work_image img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
}

.work .work_card .work_image img:nth-child(2) {
    -webkit-transform: scale(.5);
            transform: scale(.5);
}

.work_arrow {
    height: 150px;
    height: 15rem;
    position: absolute;
    left: 48%;
    padding: 10px;
    padding: 1rem;
    color: var(--dark);
    cursor: none;
}

.work_arrow svg {
    pointer-events: none;
}

.work_arrow.is_top {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    top: -160px;
    top: -16rem;
    display: none;
}

.work_arrow.is_bottom {
    bottom: -30px;
    bottom: -3rem;
}

.work_sub h3:nth-child(1), #sub_about1 {
    color: #df3b2e;
}

.work_sub h3:nth-child(2), #sub_about2 {
    color: #ab8258;
}

.work_sub h3:nth-child(3), #sub_about3 {
    color: #fc6564;
}

.work_sub h3:nth-child(4), #sub_about4 {
    color: #4ae0ba;
}

/* end work page */


/* contact page */

body.contact main {
    width: 100vw;
    height: auto;
    min-height: 100vh;
    position: relative;
    background-color: var(--light);
    padding-bottom: 40px;
    padding-bottom: 4rem;
}

.contact .contact_layout {
    width: 85%;
    margin: auto;
    height: auto;
}

.contact_layout .contact_header {
    padding-top: calc(10rem + 5vw);
}

.contact_body {
    margin-top: 40px;
    margin-top: 4rem;
    padding-bottom: calc(4rem + 3vw);
}

.contact_body .sub_title {
    font-size: clamp(3.5vw, 4.5vw, 5.5vw);
    font-weight: 100;
}

.sub_title .fancy {
    font-size: clamp(4.5vw, 5.5vw, 6.5vw);
    /* margin-top: auto;
    margin-bottom: auto;
    display: block; */
}

.contact_body .input_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 25px;
    margin-top: 2.5rem;
    margin-bottom: 30px;
    margin-bottom: 3rem;
    position: relative;
}

.input_wrapper input, .input_wrapper textarea {
    padding-top: 15px;
    padding-top: 1.5rem;
    padding-bottom: 15px;
    padding-bottom: 1.5rem;
    font-size: 14px;
    font-size: 1.4rem;
    border: none;
    cursor: none;
    font-family: 'Teen', sans-serif;
    letter-spacing: 1.5px;
    letter-spacing: .15rem;
    border-bottom: 1px solid var(--mist-gray);
}

.input_wrapper textarea {
    resize: vertical;
}

.input_wrapper input:focus, .input_wrapper textarea:focus{
    outline: none;
    border-bottom: 1px solid var(--dark);
}

.input_wrapper label {
    font-size: 17px;
    font-size: 1.7rem;
    color: var(--dark);
    position: absolute;
    top: 25%;
    -webkit-transition: all ease .3s;
    transition: all ease .3s;
    font-family: 'Teen', sans-serif;
}

.input_wrapper label.floating {
    top: -25%;
    font-size: 14px;
    font-size: 1.4rem;
    color: var(--steel-gray);
}

.contact_body .sub_title {
    padding-top: 30px;
    padding-top: 3rem;
}

.input_box_wrapper {
    margin-top: 25px;
    margin-top: 2.5rem;
    margin-bottom: 30px;
    margin-bottom: 3rem;
}

.input_box_wrapper .box_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 15px;
    gap: 1.5rem;
}

.input_box_wrapper input {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    height: 0;
    width: 0;
}

.input_box_wrapper .sub_title {
    text-transform: uppercase;
    font-size: 17px;
    font-size: 1.7rem;
    color: var(--steel-gray);
    font-weight: 100;
    margin-bottom: 30px;
    margin-bottom: 3rem;
    padding-top: 0;
}

.submit_container {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    background: red;
    position: relative;
    margin-top: calc(2rem + 2vw);
}

.btn_submit {
    border: none;
    padding: 10px 0;
    padding: 1rem 0;
    color: var(--dark);
    border-bottom: 2px solid var(--mist-gray);
    background-color: var(--light);
    font-size: calc(1.6rem + 1vw);
    text-transform: capitalize;
    font-weight: 600;
    font-family: 'Teen', sans-serif;
    letter-spacing: 1px;
    letter-spacing: .1rem;
    cursor: none;
}

.submit_container:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 100%;
    height: 2px;
    background-color: var(--dark);
    cursor: none;
    -webkit-transition: all ease .3s;
    transition: all ease .3s;
}

.submit_container:hover:after {
    right: 0;
}

/* .btn_submit:hover::after {
    right: 0;
} */

/* end contact page */

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}

@keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}

@media (min-width: 479px) {
    .buttons {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
    }

    body.about .image_content {
        width: 55%;
        height: 35rem;
    }
    
    body.about .image_content .profile_image {
        width: 100%;
        height: 100%;
    }
}

/* >576px */
@media (min-width: 576px) {
    nav .logo {
        font-size: 2rem;
    }

    .logo .fancy {
        font-size: 2.5rem;
    }

    nav .menu_icon {
        width: 70px;
        height: 40px;
    }
    .menu_icon .wrap div {
        gap: 8px;
    }
    
    .hero_content .hero_title, .contact_header .title {
        font-size: clamp(6vw, 7vw, 8vw);
        font-weight: 100;
        line-height: 9vw;
    }

    .sect_two_content {
        font-size: clamp(8vw, 9vw, 10vw);
    }

    .sect_two_content .spc, .sect_two_content .wbs {
        font-size: clamp(9vw, 10vw, 11vw);
    }

    .hero_title .fancy {
        font-size: clamp(8vw, 9vw, 10vw);
    }

    .buttons {
        gap: 0;
    }

    .buttons .line {
        width: 8rem;
        height: 1px;
        background-color: var(--dark);
    }

    .inc span:nth-child(3) {
        -ms-flex-preferred-size: auto;
            flex-basis: auto;
    }

    .inc .line {
        margin-right: 2rem;
    }

    .sect_two_content .brd {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        margin-top: 3vw;
        gap: 1rem;
    }

    .sect_two_content .and {
        gap: 2.3rem;
    }

    .sect_two_content .marque {
        height: 100px;
    }

    .vision_paragraf p {
        -webkit-column-count: 2;
           -moz-column-count: 2;
                column-count: 2;
        -webkit-column-gap: 1.5rem;
           -moz-column-gap: 1.5rem;
                column-gap: 1.5rem;
    }

    .vision_paragraf {
        margin-top: 6rem;
    }

    .service_section {
        margin-top: 10rem;
    }

    .about_avatar {
        width: calc(20rem + 2vw);
        height: calc(20rem + 2vw);
    }

    .cta_container {
        margin-top: 18rem;
        width: -webkit-max-content;
        width: -moz-max-content;
        width: max-content;
    }

    .cta_fancy {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }

    .cta_fancy .line {
        height: 1px;
        width: 30%;
    }

    .studies_projects li {
        background-color: transparent;
    }

    .offset_menu .prim_menu li {
        margin-bottom: 3vw;
        margin-left: 0;
    }

    .about_lived_card h1 {
        font-size: clamp(8vw, 9vw, 10vw);
    }

    .about_lived_card .sub_heading {
        margin-top: .5rem;
    }

    .about main .cta_container {
        margin-top: 20rem;
    }

    /* work page */
    body.work .work_page_section {
        width: 60%;
    }
    /* end work page */

    /* contact page */
    .contact_header .title {
        font-size: clamp(5.5vw, 6.5vw, 7.5vw);
        line-height: 8.5vw;
    }
    /* end contact page */
}

@media (min-width: 768px) {
    .hero_content {
        margin-top: 8vw;
    }
    .buttons button {
        width: 15rem;
    }
    .buttons .line {
        width: 10rem;
        height: 1px;
        background-color: var(--dark);
    }

    .sect_two_content .brd {
        margin-top: 2vw;
        gap: 2rem;
    }

    .sect_two_content .and {
        gap: 2.5rem;
    }

    .inc .line {
        margin-right: 2.5rem;
        margin-left: 2.5rem;
    }

    .sect_two_content .marque {
        height: 150px;
        border-radius: 8rem;
        gap: 4rem;
        margin-top: 2vw;
    }

    .section_two .vision {
        width: 80%;
        font-size: clamp(2vw, 3vw, 4vw);
    }

    .vision_paragraf p {
        -webkit-column-count: 3;
           -moz-column-count: 3;
                column-count: 3;
        -webkit-column-gap: 2rem;
           -moz-column-gap: 2rem;
                column-gap: 2rem;
    }
    
    .home_work {
        height: 15rem;
    }

    .work_number p, .card_number h1 {
        font-size: clamp(4.58rem, 3.308rem + 4.36vw, 7.03rem);
    }

    .home_work .work_name p {
        font-size: clamp(1rem, 1rem + 2vw, 3rem);
    }

    .home_work_visual {
        display: block;
    }

    .view_cursor{
        display: block;
    }

    .view_cursor div {
        -webkit-animation: spinner 5s linear infinite;
                animation: spinner 5s linear infinite;
    }

    .service_card_wrapper {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
    }

    .card_content p {
        margin-top: 3rem;
    }

    .client_section {
        margin-top: 12rem;
    }

    .client_section .sub_heading {
        font-size: clamp(2.30rem, 2.30rem + 1.50vw, 3.03rem);
    }

    .clients_container {
        row-gap: 5.3rem;
        gap: 3rem;
    }

    .clients_container .client_card {
        max-width: 12rem;
        max-height: 7rem;
    }

    .about_container {
        width: 85%;
        gap: 10%;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
    }

    .about_content {
        max-width: 45%;
    }

    .about_avatar {
        width: calc(22rem + 3vw);
        height: calc(22rem + 3vw);
    }

    .about_content p {
        margin-top: 1rem;
    }

    .contact_header p {
        margin-top: calc(3.5rem + .5vw);
    }
    
    .contact_body {
        margin-top: calc(5rem + .5vw);
    }

    footer .footer_content {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    }

    footer .logo {
        margin-left: 0;
    }

    .footer_contact .social, .footer_contact .contact {
        display: none;
    }

    .studies_projects .social, .studies_projects .contact {
        display: block;
    }

    .studies_projects .social {
        margin-top: 3rem;
    }

    .offset_menu .parent {
        width: 100vw;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        padding-left: 10vw;
    }

    .offset_menu .prim_menu {
        text-align: start;
    }

    .offset_menu .prim_menu .clone {
        left: 0;
    }

    .offset_menu .sub_menu {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        position: absolute;
        bottom: 0;
        top: 0;
        left: 65%;
        right: 0;
        -webkit-transform: translate(130%);
                transform: translate(130%);
        background-color: var(--light);
    }

    /* about page */
    body.about .about_section h1, body.about .sub_heading {
        text-align: start;
    }

    body.about .sub_heading {
        font-size: clamp(1.8rem, 1.5rem + 1.50vw, 2rem);
    }

    body.about .about_section {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        gap: 3rem;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: start;
            -ms-flex-align: start;
                    -ms-grid-row-align: start;
                align-items: start;
        position: relative;
        padding-bottom: 0;
    }

    body.about .text_content {
        position: relative;
    }

    body.about .about_section .image_content {
        height: 85vh;
        width: 50vw;
        margin-top: 7.5vh;
    }

    body.about .card_content {
        max-width: 40rem;
    }

    .about_lived_list {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        gap: 7rem;
    }

    .lived_arrow {
        font-size: clamp(6vw, 7vw, 8vw);
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    /* end about page */

    /* work page */
    body.work .work_container .work_about {
        display: none;
    }

    body.work .work_page_section {
        width: 90%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        gap: 3rem;
    }

    body.work .work_container {
        /* width: calc(45% + 3vw); */
        width: 60%;
    }

    /* .work_card {
        display: flex;
        gap: 3rem;
    } */
    
    .card_desk {
        position: -webkit-sticky;
        position: sticky;
        display: block;
    }

    .work_about {
        max-width: 400px;
        margin-top: 10%;
    }

    .work .work_card h2 {
        font-size: clamp(3.5rem, 3rem + 1.36vw, 6rem);
    }

    /* end work page */

    /* contact page */
    .contact .contact_layout {
        width: 80%;
    }

    .contact_header {
        padding-top: calc(8rem + 5vw);
    }
    /* end contact page */
}

@media (min-width: 960px) {
    body.about .about_section .image_content {
        height: 100vh;
        width: 43vw;
        margin-top: 0;
    }

    body.work .work_container {
        /* width: 60%; */
    }

    .contact .contact_layout {
        width: 70%;
    }
}

@media (min-width: 992px) {

    .hero_content {
        margin-top: 11vw;
    }
    
    .sect_two_content .brd {
        gap: 2.5rem;
    }

    .sect_two_content .marque {
        height: 180px;
        border-radius: 9rem;
        gap: 5rem;
    }

    .section_two .vision {
        width: 70%;
        margin-top: 15rem;
    }

    .home_work_visual {
        width: calc(47rem + 6vw);
        height: calc(22rem + 2vw);
    }

    .service_section {
        padding-left: 10%;
        padding-right: 10%;
    }

    .service_section {
        margin-top: 13rem;
    }

    .service_section .service_card {
        padding-bottom: 4.5rem;
    }

    .service_card_wrapper {
        margin-top: 5.3rem;
    }

    .clients_container {
        width: 60%;
        row-gap: 6rem;
        gap: 15%;
        -ms-grid-columns: (1fr)[4];
            grid-template-columns: repeat(4, 1fr);
    }

    .clients_container .client_card {
        max-width: 13rem;
        max-height: 8rem;
    }
    .about_container {
        width: 80%;
    }

    .about_avatar {
        width: calc(24rem + 6vw);
        height: calc(24rem + 6vw);
    }

    .footer_content .primary_link {
        margin-left: calc(2rem + 5vw);
    }

    .offset_menu .prim_menu li {
        margin-bottom: 2vw;
    }

    /* about page */
    body.about .about_section {
        width: 80%;
    }
    body.about .about_section .image_content {
        width: 40vw;
    }
    /* end about page */

    /* work page */
    .card_desk {
        margin-top: calc((30vmax + 3vw) / 5);
    }

    .work_arrow.is_top {
        top: -14rem;
    }
    /* end work page */


    /* contact page */

    /* end contact page */
}

@media (min-width: 1200px) {
    .section_two .vision {
        width: 60%;
    }

    .home_work_visual {
        width: calc(49rem + 6vw);
        height: calc(24rem + 2vw);
    }

    .offset_menu .prim_menu li {
        margin-bottom: 1.5vw;
    }

    /* about page */
    body.about .about_section {
        width: 75%;
    }
    body.about .about_section .image_content {
        width: 35vw;
    }
    /* end about page */

    /* work page */
    body.work .work_page_section {
        gap: 0;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }

    .work_card {
        gap: 0;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
    /* end work page */

    /* contact page */

    .contact .contact_layout {
        width: 60%;
    }

    /* end contact page */
}