@import url('https://fonts.googleapis.com/css2?family=Jacques+Francois&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 10px;
    transition: all .5s ease;
    cursor: none;
}

body {
    font-family: "Jacques Francois", sans-serif;
    font-weight: 400;
    font-style: normal;
    background: white;
}

header {
    width: 100%;
    height: auto;
}

nav {
    width: 100%;
    padding: 3.5vmax;
    padding-top: 3vmax;
}

nav .logo {
    font-size: 1.5rem;
    width: max-content;
    padding: 20px;
}

.logo div {
    width: max-content;
    height: max-content;
    display: flex;
    position: relative;
}

.logo div span {
    position: absolute;
    top: 60%;
    left: 0;
    height: 1px;
    background: #000;
}

/* .logo div.active h1 {
    transform: translateX(50%);
} */

.custom_cursor {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: white;
    mix-blend-mode: difference;
    position: fixed;
    transition: none;
    pointer-events: none;
    z-index: 9999;
}

/* >576px */
@media (min-width: 576px) {
    nav .logo {
        font-size: 2rem;
    }
}