@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Teen';
    src: url('/src/assets/fonts/teen/teen.otf') ;
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Dobkin Script';
    src: url('/src/assets/fonts/dobkin-script/DobkinScript.ttf') ;
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Floor Light';
    src: url('/src/assets/fonts/floorlight/Floorlight.ttf') ;
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Cooper Hewitt';
    src: url('/src/assets/fonts/cooper-hewitt/CooperHewitt-Light.otf') ;
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Prida01';
    src: url('/src/assets/fonts/prida01/Prida01.otf') ;
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Chopin Script';
    src: url('/src/assets/fonts/chopin-script/ChopinScript.ttf') ;
    font-weight: 100;
    font-style: normal;
}



:root {
    font-size: 10px;
    --dark: black;
    --light: white;
    --light-gray: rgb(239, 239, 239);
    --slate-gray: #666666;
    --steel-gray: #4f5053;
    --charcoal: rgb(79, 80, 83);
    --mist-gray: rgb(209, 207, 207);
    --cloud-gray: #8d939d82;
    --soft-white: #ffffff82;
}


body {
    font-size: 1rem;
    font-family: 'Teen', sans-serif;
    font-style: normal;
    background-color: var(--light-gray);
    font-weight: 100;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: .6rem;
}

body::-webkit-scrollbar-track {
    background-color: var(--ligth);
}

body::-webkit-scrollbar-thumb {
    background: var(--slate-gray);
    border-radius: 10px;
}

.fancy {
    font-family: 'Italianno', sans-serif;
    font-weight: 100;
}

header {
    width: 100%;
    height: auto;
    position: fixed;
    z-index: 888;
    color: var(--ligth);
    mix-blend-mode: difference;
}

nav {
    width: 100%;
    padding: 3.5vmax;
    padding-top: 3vmax;
    display: flex;
    justify-content: space-between;
    align-items: start;
}

nav .menu {
    width: 60px;
    height: 35px;
    position: relative;
    margin-top: 1vmax;
}

.menu .wrap {
    height: 100%;
    border-radius: 20px;
    background-color: var(--ligth);
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu .wrap div {
    width: 35%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: .6rem;
}

.wrap .line {
    width: 60%;
    height: 2px;
    background-color: var(--dark);
}

.wrap .line:nth-child(2) {
    width: 100%;
}

.menu:hover .line {
    width: 100%;
    background-color: var(--dark);
}

.menu:hover .line:nth-child(2) {
    width: 60%;
}

nav .logo {
    font-size: 1.5rem;
    width: max-content;
    padding: 1rem;
    padding-right: 4rem;
}

.logo h1 {
    font-weight: 100;
}

.logo .fancy {
    font-size: 2rem;
}

.logo div {
    width: max-content;
    height: max-content;
    display: flex;
    position: relative;
}

.logo div span {
    position: absolute;
    top: 60%;
    left: 0;
    height: 2px;
    background: var(--ligth);
    mix-blend-mode: difference;
}

.logo div:nth-child(2) span {
    height: 1px;
    top: 50%;
}

.hero_section {
    width: 100%;
    height: 100vh;
    background-color: var(--ligth);
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 8;
}

.hero_content {
    height: auto;
    width: max-content;
}

.hero_content .hero_title {
    font-size: clamp(9vw, 10vw, 11vw);
    font-weight: 100;
}

.hero_title .fancy {
    font-size: clamp(11vw, 12vw, 13vw);
    word-spacing: 2vw;
}

.buttons {
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    justify-content: center;
    align-items: center;
    gap: .8rem;
    position: relative;
}

button {
    border: none;
    background-color: var(--dark);
    color: var(--ligth);
    font-size: 1.3rem;
    width: 13rem;
    padding: 1.3rem 2.5rem;
    border-radius: 2rem;
    position: relative;
    overflow: hidden;
}

button:nth-child(1):hover {
    border: 1px solid var(--dark);
}

.btn_second {
    background: var(--ligth);
    border: 1px solid var(--dark);
    color: var(--dark);
}

button .btn_circle {
    position: absolute;
    width: 100%;
    height: 200%;
    border-radius: 50%;
    background: var(--ligth);
    mix-blend-mode: difference;
    top: -200%;
    left: 0;
    pointer-events: none;
    transition: all .3s ease-in-out;
}

button:hover .btn_circle {
    top: -50%;
}

.plane {
    background-color: var(--light-gray);
    position: relative;
    z-index: 9;
}

.section_two {
    width: 100%;
    height: auto;
    min-height: 100vh;
    background-color: var(--dark);
    color: var(--ligth);
    position: relative;
    
}

.section_two .sect_two_content {
    width: 100%;
    height: auto;
    text-align: center;
    position: relative;
    z-index: 8;
    background-color: var(--dark);
}

.sect_two_content {
    font-size: clamp(3.58rem, 2.308rem + 6.36vw, 8.03rem);
}

.sect_two_content .marque {
    width: 90%;
    height: 80px;
    border: 1px solid var(--steel-gray);
    margin: auto;
    border-radius: 5rem;
    display: flex;
    align-items: center;
    gap: 3rem;
    overflow: hidden;
    padding-left: 3vw;
    color: var(--steel-gray);
    margin-top: 6vw;
    pointer-events: none;
}

.marque span:hover {
    color: var(--ligth);
}

.sect_two_content .arrow {
    display: block;
}

.marque .bold, .sect_two_content .arrow {
    font-family: 'Floor Light', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

.marque .unexpected {
    font-family: 'Cooper Hewitt', sans-serif;
}

.marque .ethical {
    font-family: 'Prida01', sans-serif;
    text-transform: uppercase;
}

.marque .unique {
    font-family: 'Chopin Script', sans-serif;
}

.sect_two_content .wbs {
    font-family: 'Dobkin Script', sans-serif;
}

.sect_two_content .spc, .sect_two_content .wbs {
    font-family: 'Dobkin Script', sans-serif;
    font-size: clamp(11vw, 12vw, 13vw);
}

.sect_two_content .and {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    font-family: 'Dobkin Script', sans-serif;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.and .line {
    display: block;
    width: clamp(6rem, 4rem + 8vw, 13rem);
    height: .6px;
    background-color: rgb(140, 140, 140);
}

.sect_two_content .brd {
    margin-top: 6vw;
    display: flex;
    flex-direction: column;
}

.sect_two_content .inc {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 1vw;
    margin-bottom: 1vw;
}

.inc .line {
    margin-left: 2rem;
}

.inc span:nth-child(1) {
    font-family: 'Dobkin Script', sans-serif;
}

.inc span:nth-child(3) {
    flex-basis: 100%;
}

.sect_two_content .inc .line {
    display: inline-block;
    height: .6px;
    background-color: rgb(140, 140, 140);
    width: clamp(7rem, 5rem + 10vw, 14rem);
    max-width: 25%;
}

.section_two .concave {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 7;
}

.section_two .vision {
    margin: auto;
    margin-top: 10rem;
    font-size: clamp(4vw, 5vw, 7vw);
    text-align: end;
    width: 90%;
    position: relative;
}

.vision h1 {
    font-weight: 100;
    position: relative;
}

.vision_paragraf {
    margin: auto;
    margin-top: 5rem;
    height: auto;
}

.section_two .convex {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    transform: rotate(180deg);
}

.section_two .convex path {
    fill: var(--dark);
}

.vision_paragraf p {
    text-align: start;
    font-size: 1.4rem;
    line-height: 1.7em;
    letter-spacing: .1em;
    font-weight: 100;
}


.work_section {
    width: 100%;
    height: auto;
    min-height: 100vh;
    background-color: var(--light-gray);
    position: relative;
    
}

.work_section .selected_work_heading {
    font-size: clamp(3.58rem, 2.308rem + 4.36vw, 6.03rem);
    font-weight: 100;
    text-align: center;
}

.work_section .home_work_section {
    width: 100%;
    height: auto;
    margin-top: 3rem;
}

.home_work_column {
    width: 100%;
    height: auto;
    border-bottom: 1px solid var(--steel-gray);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: end;
}

.home_work {
    width: 90%;
    margin: auto;
    height: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all ease-in .5s;
}

.home_work_column::before {
    content: '';
    position: absolute;
    top: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--ligth);
    transition: all .3s ease-in;
    transition-delay: 0.3s;
}

.home_work_column:hover .home_work {
    width: 83%;
}

.home_work_column:hover::before {
    top: 0;
}

.home_work .work_left {
    display: flex;
    align-items: center;
    gap: calc(2rem + 4vw);
}

.work_number {
    width: max-content;
    position: relative;
    overflow: hidden;
}

.work_number p, .card_number h1 {
    font-size: clamp(3.58rem, 2.308rem + 4.36vw, 6.03rem);
    font-family: 'Prida01', sans-serif;
    font-weight: 100;
    position: relative;
}

.work_number p:nth-child(2) {
    position: absolute;
    top: 100%;
}

.work_name p {
    font-size: clamp(1rem, 1rem + 3vw, 4rem);
}

.work_right span {
    font-size: clamp(3.58rem, 2.308rem + 4.36vw, 6.03rem);
    position: relative;
}

.home_work_visual {
    position: absolute;
    width: calc(44rem + 3vw);
    height: calc(19rem + 2vw);
    border-radius: 15rem;
    overflow: hidden;
    display: none;
    
    top: 100%;
    opacity: 0;
    pointer-events: none;
}

.home_work_visual img {
    width: 150%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    left: -25%;
}

.service_section {
    position: relative;
    
    padding-top: 9rem;
    padding-left: 5%;
    padding-right: 5%;
}

.heading {
    font-size: clamp(3.58rem, 2.308rem + 4.36vw, 6.03rem);
    font-weight: 100;
}

.sub_heading {
    margin-top: 1.5rem;
    margin-bottom: 4rem;
    color: var(--steel-gray);
    font-size: clamp(1.58rem, 1.308rem + 1.36vw, 2.03rem);
    font-weight: 100;
    word-spacing: .4rem;
    letter-spacing: .2rem;
    text-transform: uppercase;
}

.client_section {
    position: relative;
    margin-top: 8rem;
    padding-bottom: 4rem;
}

 .client_section .sub_heading {
    word-spacing: .3rem;
    letter-spacing: .1rem;
    color: var(--dark);
    text-transform: uppercase;
    font-weight: lighter;
    text-align: center;
}

.client_section .concave {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--light-gray);
}

.client_section .concave path {
    fill: var(--ligth);
}

.service_card_wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.service_section .service_card {
    width: 100%;
    height: auto;
    min-height: 25rem;
    padding: 2.5rem;
    background-color: var(--ligth);
    position: relative;
    padding-bottom: 4rem;
}

.service_section .service_card:hover {
    box-shadow: -5px 5px 20px rgba(0, 0, 0, .2);
}

.service_card .card_number {
    text-align: end;
    margin-top: 1rem;
}

.service_card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 2px;
    background-color: var(--dark);
    opacity: 0;
    transition: all ease .3s;
}

.service_card:hover::before {
    opacity: 1;
}

.card_content {
    padding: .5rem;
    margin-top: 1.5rem;
}

.card_content h1 {
    font-size: clamp(1.59rem, 1.308rem + 3.36vw, 2.4rem);
    font-weight: 100;
    margin-bottom: 1rem;
    position: relative;
}

.card_content h1::before {
    content: '';
    position: absolute;
    width: 3rem;
    height: 2px;
    background: var(--dark);
    bottom: -1rem;
}

.card_content p, .about_content p {
    font-size: 1.4rem;
    line-height: 1.6em;
    letter-spacing: .11em;
    font-weight: 100;
    color: var(--charcoal);
    margin-top: 2.5rem;
}

.clients_container {
    width: 90%;
    margin: auto;
    margin-top: 6rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    row-gap: 3.5rem;
    justify-items: center;
    align-items: center;
}

.clients_container .client_card {
    max-width: 10rem;
    max-height: 6rem;
    filter: brightness(0);
}

.about_section {
    width: 100%;
    height: auto;
    min-height: 100vh;
    background-color: var(--ligth);
    position: relative;
    z-index: 10;
    padding-bottom: 15rem;
}

.about_container {
    width: 90%;
    padding-top: 4rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}

.about_avatar {
    width: calc(16rem + 2vw);
    height: calc(16rem + 2vw);
    border-radius: 50%;
    overflow: hidden;
    transition: all ease .3s;
}

.about_avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.about_content .sub_heading {
    margin-bottom: 2rem;
}

.about_content .btn_second {
    margin-top: 2.5rem;
    padding: 1.1rem 3rem;
}

.cta_container {
    text-align: center;
    margin: auto;
    margin-top: 13rem;
    width: 90%;
}

.cta_fancy {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.cta_fancy .line {
    display: block;
    width: 1px;
    height: 5rem;
    background-color: var(--light-gray);
}

.about_section .concave {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--ligth);
}

.about_section .concave path {
    fill: var(--dark);
}

.custom_cursor_wrap {
    position: fixed;
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    border: 1px solid var(--mist-gray);
    pointer-events: none;
    z-index: 9998;
}

footer {
    height: auto;
    min-height: 100vh;
    width: 100%;
    background-color: var(--dark);
    color: var(--ligth);
    position: relative;
    z-index: 9;
    padding-bottom: calc(5rem + 2vw);
}

.link a {
    cursor: none;
}

footer .logo {
    color: var(--ligth);
    font-size: clamp(2.58rem, 2.308rem + 2.36vw, 3.03rem);
    line-height: 2em;
    margin-left: 15vw;
}

.logo .fancy_wrapper {
    display: flex;
    align-items: center;
}

.fancy_wrapper h1 {
    font-weight: 100;
    font-family: 'Italianno', sans-serif;
    margin-left: calc(4rem + 2vw);
}

.fancy_wrapper .line {
    height: 1px;
    width: calc(3rem + 2vw);
    display: block;
    background-color: var(--ligth);
}

footer .footer_content {
    display: flex;
    flex-direction: column;
}

.footer_content .primary_link {
    margin-left: calc(1rem + 2vw);
    margin-bottom: 3rem;
}

.footer_content ul {
    list-style: none;
}

.footer_content a {
    text-decoration: none;
    color: var(--ligth);
}

.primary_link {
    margin-top: calc(3rem + 1vw);
}

.primary_link ul li {
    font-size: clamp(1.58rem, 1.308rem + 2.36vw, 2rem + .8vw);
    font-family: 'Prida01', sans-serif;
    margin-bottom: calc(2rem + 2vw);
}

footer .studies_projects {
    margin-left: calc(1rem + 2vw);
    display: flex;
    gap: 10vw;
}

footer .title {
    font-size: clamp(1.58rem, 1.308rem + 2.36vw, 2rem + .8vw);
    font-weight: 100;
}

.studies_projects h2 {
    letter-spacing: .1vw;
    position: relative;
    margin-bottom: calc(2.5rem + 2.5vw);
}

.studies_projects h2 br {
    margin-top: calc(3.5rem + 2.5vw);
}

.studies_projects h2::after {
    content: '';
    width: calc(2rem + 2vw);
    height: 3px;
    background-color: var(--ligth);
    position: absolute;
    left: 0;
    bottom: -1.5rem;
}

.studies_projects li {
    text-align: center;
    font-size: 1.4rem;
    letter-spacing: .11em;
    border-radius: 4rem;
    background-color: #3b3f4682;
    margin-bottom: 1.3rem;
    width: max-content;
    padding: 1rem 1.5rem;
    transition: all ease .3s;
}

.studies_projects li a {
    font-weight: 100;
}

.studies_projects li:hover {
    background-color: var(--ligth);
}

.studies_projects li:hover a {
    color: var(--dark);
}

.footer_contact {
    margin-left: calc(1rem + 2vw);
    margin-top: 3rem;
}

footer .btn_prima {
    margin-top: 2rem;
    border: 1px solid var(--ligth);
}

.social {
    margin-top: 3rem;
}

.social .sosmed_wrapper {
    display: flex;
    gap: 2rem;
    align-items: center;
    margin-top: 2rem;
}

.sosmed_wrapper div {
    width: 2.5rem;
    height: 2.5rem;
}

.sosmed_wrapper path {
    fill: var(--cloud-gray);
}

.studies_projects .social, .studies_projects .contact {
    display: none;
}

.footer_copyright_text {
    margin-top: 4rem;
    margin-left: calc(2rem + 5vw);
    font-size: 1.4rem;
    color: var(--soft-white);
    font-weight: 100;
    opacity: .7;
    letter-spacing: .1rem;
}

.footer_copyright_text span {
    font-size: 1.7rem;
}

.custom_cursor {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background: var(--ligth);
    mix-blend-mode: difference;
    position: fixed;
    transition: none;
    pointer-events: none;
    z-index: 9999;
}

.view_cursor {
    font-weight: 100;
    font-size: 1.3rem;
    position: fixed;
    z-index: 9999;
    pointer-events: none;
    display: none;
    opacity: 0;
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media (min-width: 479px) {
    .buttons {
        flex-direction: row;
    }
}

/* >576px */
@media (min-width: 576px) {
    nav .logo {
        font-size: 2rem;
    }

    .logo .fancy {
        font-size: 2.5rem;
    }

    nav .menu {
        width: 70px;
        height: 40px;
    }
    .menu .wrap div {
        gap: 8px;
    }
    
    .hero_content .hero_title {
        font-size: clamp(6vw, 7vw, 8vw);
        font-weight: 100;
        line-height: 9vw;
    }

    .sect_two_content {
        font-size: clamp(8vw, 9vw, 10vw);
    }

    .sect_two_content .spc, .sect_two_content .wbs {
        font-size: clamp(9vw, 10vw, 11vw);
    }

    .hero_title .fancy {
        font-size: clamp(8vw, 9vw, 10vw);
    }

    .buttons {
        gap: 0;
    }

    .buttons .line {
        width: 8rem;
        height: 1px;
        background-color: var(--dark);
    }

    .inc span:nth-child(3) {
        flex-basis: auto;
    }

    .inc .line {
        margin-right: 2rem;
    }

    .sect_two_content .brd {
        flex-direction: row;
        justify-content: center;
        margin-top: 3vw;
        gap: 1rem;
    }

    .sect_two_content .and {
        gap: 2.3rem;
    }

    .sect_two_content .marque {
        height: 100px;
    }

    .vision_paragraf p {
        column-count: 2;
        column-gap: 1.5rem;
    }

    .vision_paragraf {
        margin-top: 6rem;
    }

    .service_section {
        margin-top: 10rem;
    }

    .about_avatar {
        width: calc(20rem + 2vw);
        height: calc(20rem + 2vw);
    }

    .cta_container {
        margin-top: 18rem;
        width: max-content;
    }

    .cta_fancy {
        flex-direction: row;
        justify-content: space-between;
    }

    .cta_fancy .line {
        height: 1px;
        width: 30%;
    }

    .studies_projects li {
        background-color: transparent;
    }
}

@media (min-width: 768px) {
    .hero_content {
        margin-top: 8vw;
    }
    .buttons button {
        width: 15rem;
    }
    .buttons .line {
        width: 10rem;
        height: 1px;
        background-color: var(--dark);
    }

    .sect_two_content .brd {
        margin-top: 2vw;
        gap: 2rem;
    }

    .sect_two_content .and {
        gap: 2.5rem;
    }

    .inc .line {
        margin-right: 2.5rem;
        margin-left: 2.5rem;
    }

    .sect_two_content .marque {
        height: 150px;
        border-radius: 8rem;
        gap: 4rem;
        margin-top: 2vw;
    }

    .section_two .vision {
        width: 80%;
        font-size: clamp(2vw, 3vw, 4vw);
    }

    .vision_paragraf p {
        column-count: 3;
        column-gap: 2rem;
    }
    
    .home_work {
        height: 15rem;
    }

    .work_number p, .card_number h1 {
        font-size: clamp(4.58rem, 3.308rem + 4.36vw, 7.03rem);
    }

    .work_name p {
        font-size: clamp(1rem, 1rem + 2vw, 3rem);
    }

    .home_work_visual {
        display: block;
    }

    .view_cursor{
        display: block;
    }

    .view_cursor div {
        animation: spinner 5s linear infinite;
    }

    .service_card_wrapper {
        flex-direction: row;
    }

    .card_content p {
        margin-top: 3rem;
    }

    .client_section {
        margin-top: 12rem;
    }

    .client_section .sub_heading {
        font-size: clamp(2.30rem, 2.30rem + 1.50vw, 3.03rem);
    }

    .clients_container {
        row-gap: 5.3rem;
        gap: 3rem;
    }

    .clients_container .client_card {
        max-width: 12rem;
        max-height: 7rem;
    }

    .about_container {
        width: 85%;
        gap: 10%;
        flex-direction: row;
    }

    .about_content {
        max-width: 45%;
    }

    .about_avatar {
        width: calc(22rem + 3vw);
        height: calc(22rem + 3vw);
    }

    .about_content p {
        margin-top: 1rem;
    }

    footer .footer_content {
        flex-direction: row;
        justify-content: space-around;
    }

    footer .logo {
        margin-left: 0;
    }

    .footer_contact .social, .footer_contact .contact {
        display: none;
    }

    .studies_projects .social, .studies_projects .contact {
        display: block;
    }

    .studies_projects .social {
        margin-top: 3rem;
    }
}

@media (min-width: 992px) {
    .hero_content {
        margin-top: 11vw;
    }
    
    .sect_two_content .brd {
        gap: 2.5rem;
    }

    .sect_two_content .marque {
        height: 180px;
        border-radius: 9rem;
        gap: 5rem;
    }

    .section_two .vision {
        width: 70%;
        margin-top: 15rem;
    }

    .home_work_visual {
        width: calc(47rem + 6vw);
        height: calc(22rem + 2vw);
    }

    .service_section {
        padding-left: 10%;
        padding-right: 10%;
    }

    .service_section {
        margin-top: 13rem;
    }

    .service_section .service_card {
        padding-bottom: 4.5rem;
    }

    .service_card_wrapper {
        margin-top: 5.3rem;
    }

    .clients_container {
        width: 60%;
        row-gap: 6rem;
        gap: 15%;
        grid-template-columns: repeat(4, 1fr);
    }

    .clients_container .client_card {
        max-width: 13rem;
        max-height: 8rem;
    }
    .about_container {
        width: 80%;
    }

    .about_avatar {
        width: calc(24rem + 6vw);
        height: calc(24rem + 6vw);
    }

    .footer_content .primary_link {
        margin-left: calc(2rem + 5vw);
    }
}

@media (min-width: 1200px) {
    .section_two .vision {
        width: 60%;
    }

    .home_work_visual {
        width: calc(49rem + 6vw);
        height: calc(24rem + 2vw);
    }
}